<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="David Mohundro" href="http://feeds.feedburner.com/DavidMohundro/" />
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <script src="/js/head.min.js"/></script>
    <title>
      <% if @path == 'index' || !defined? title %>
        David Mohundro
      <% else %>
        <%= title %> | David Mohundro
      <% end %>
    </title>
  </head>
  <body>
    <div id="fullpage">
      <div class="top">
        <header><a href="/">david mohundro</a></header>

        <nav>
          <ul>
            <li><a href="/blog/">blog</a></li>
            <li><a href="/about/">about</a></li>
            <li><a href="http://feeds.feedburner.com/DavidMohundro/">feed</a></li>
            <li><a href="/contact/">contact</a></li>
          </ul>
        </nav>
      </div>

      <section>
        <%= yield %> 
      </section>

      <footer>
        powered by <a href="http://cloudhead.io/toto">toto</a><br />
        Copyright &copy; David Mohundro <%= Date.today.year %>
      </footer>
    </div>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    if (typeof _gat === 'object') {
      var pageTracker = _gat._getTracker("UA-3973340-1");
      pageTracker._initData();
      pageTracker._trackPageview();
    }
    </script>
  </body>
</html>
