<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <title>David Mohundro</title>
  </head>

  <body>
    <div id="fullpage">
      <%= header %>

      <header>
        <h1>Not found? Wha?!?</h1>
      </header>

      <section>
        <p>I dug around looking for a good image to put here to let you know I couldn't find 
        this page, but I gave up. So, here you go. My lazy 404 page. Oh, and a quote.</p>

        <blockquote cite="http://www.imdb.com/title/tt0109686/quotes?qt0503734">
          Hey guys. Woah, Big Gulps, huh? All right! Well, see ya later.
          <div class="attributed">Lloyd from Dumb and Dumber</div>
        </blockquote>
      </section>

      <%= footer %>
    </div>
  </body>
</html>
