<div class="top">
  <header><a href="/">mohundro.com</a></header>

  <nav>
    <ul>
      <li><a href="/blog/">blog</a></li>
      <li><a href="/about/">about</a></li>
      <li><a href="http://feeds.feedburner.com/DavidMohundro/">feed</a></li>
      <li><a href="/contact/">contact</a></li>
    </ul>
  </nav>
</div>
