<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>David Mohundro</title>
  </head>

  <body>
    <div id="fullpage">
      <%= header %>

      <header>
        <h1>About me?</h1>
      </header>

      <img src="/images/me.png" alt="It's a picture of me." class="photo" />

      <p>My name is David, but a lot of people call me Mo. It comes from my last name... <strong>Mo</strong>hundro. You get it, right?</p>

      <p>I'm a software developer/artisan/craftsman/engineer living in the Memphis, TN area. I write in C# for a living, but I also write Ruby for fun. I'm a big fan of JavaScript and PowerShell, too. I use Vim for all of my code editing needs. I use Windows, OS X and Linux. I like technology. Use what works for you!</p>

      <p>I'm an occasional speaker. I've presented quite a few presentations on PowerShell to .NET User Groups in the area as well as topics such as JavaScript.</p>

      <p>I'm a Christian and a husband. My wife and I have a baby on the way. We're also adopting! I like video games, movies, books, and music. I also enjoy traveling.</p> 
    </div>
  </body>
</html>
