<header>
  <h1>contact me!</h1>
</header>

<p>I use
<a href="http://twitter.com/drmohundro" rel="me">Twitter</a>,
<a href="http://github.com/drmohundro" rel="me">GitHub</a>,
<a href="http://www.facebook.com/drmohundro" rel="me">Facebook</a>,
<a href="http://instagram.com/drmohundro" rel="me">Instagram</a>,
<a href="https://plus.google.com/105103173432470968607?rel=me" rel="me">Google+</a>,
<a href="http://www.linkedin.com/in/drmohundro" rel="me">LinkedIn</a>,
<a href="http://www.delicious.com/drmohundro/" rel="me">Delicious</a> and even
<a href="<%= obscure_email 'mailto:david@mohundro.com' %>">email</a>!</p>

<p>Feel free to drop me a line.</p>
