<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>David Mohundro</title>
  </head>

  <body>
    <%= header %>

    <header>
      <h1>David Mohundro</h1>
    </header>

    <section>
      <ul>
        <li>Blog - programming thoughts</li>
        <li>Github - my codes</li>
        <li>David and Cara - our personal site</li>
      </ul>
    </section>
  </body>
</html>
