<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <title>David Mohundro</title>
  </head>

  <body>
    <div id="fullpage">
      <%= header %>

      <header>
        <h1>welcome...</h1>
      </header>

      <p>This is the personal site for David Mohundro. What can you expect to find here? Programming thoughts and other computer-related fun.</p>

      <p>Are you looking for David and Cara's personal blog? It's been moved to <a href="http://mohundrofamily.wordpress.com/">mohundrofamily.wordpress.com</a>. That's where the non-geeky stuff is!</p>

      <%= footer %>
    </div>
  </body>
</html>
