<h1>Archives</h1>
<ul>
  <% archives.group_by { |entry| Date.parse(entry.date).year }.sort { |a,b| b <=> a }.each do |year, entries| %>
    <li><%=year %>
      <ul>
      <% entries.sort { |a,b| Date.parse(b.date) <=> Date.parse(a.date) }.each do |entry| %>
        <li>
          <a href="<%= entry.path %>"><%= entry.title %></a>
        </li>
      <% end %>
      </ul>
    </li>
  <% end %>
</ul>
