<h1>Archives</h1>
<ul>
  <% archives.group_by { |entry| Date.parse(entry.date).year }.each do |year, entries| %>
    <li><%=year %>
      <ul>
      <% entries.each do |entry| %>
        <li>
          <a href="<%= entry.path %>"><%= entry.title %></a>
        </li>
      <% end %>
      </ul>
    </li>
  <% end %>
</ul>
